.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.nbt-text {
  font-weight: bold;
  font-size: 80px;
  line-height: 1;
  background: linear-gradient(to right, blue, white);
  font-family: Arial, sans-serif;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  display: inline-block;
  background-size: 200% 100%;
  animation: gradientAnimation 3s linear infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }50% {
    background-position: right;
  }
  0% {
    background-position: left;
  }
  
}
